* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* start of the navbar */

nav {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.90);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;

}

nav a {
    text-decoration: none;
    padding: 10px 120px;
    color: black;
}


nav a:hover {
    background-color: gray;

}

nav a:nth-last-child(1):hover {
    background-color: black;
    color: white;
}

/* end of the navbar */

/* start of the head picture */

.head-pic {
    background-image: url("../images/first.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.head-content {
    /* background-color: red; */
    text-align: center;
    color: white;
}


.head-header {
    font-size: 5rem;
    margin-bottom: 20px;
    font-weight: 100;
}

.head-p1 {
    font-size: 2.4rem;
    padding: 10px;
}

.head-p2 {
    font-size: 2.5rem;
    padding: 10px;
}


/* end of the head picture */

/* start of the abot head */

.about-head {
    padding: 50px 150px;
    background-color: #f2e1e1;
    text-align: center;
}

.about-head-header {
    font-size: 2.5rem;
    font-weight: 100;
    margin: 50px;
    color: #757575;
}

.about-head-picture {
    width: 100%;
    filter: grayscale(70%);
    background-position: center;
}

.about-head-content1 {
    padding: 30px 10px;
    /* background-color: red; */
    text-align: justify;
    font-style: italic;
    font-size: 1.2rem;
}

.about-head-btn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1.7rem;
    border: none;
}


/* end of the abot head  */

/* start of the invite part */

.invite {
    /* padding-top: 50px ; */
    background-image: url("../images/third.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.invite-content h2 {
    font-size: 4rem;
    color: white;
    padding: 20px;
}

.invite-content p {
    color: white;
    font-size: 2rem;
}

/* end of the invite part */


/* start of the wedding part */

.invite-where {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.when,
.where {
    line-height: 2.5;
}

.when h4,
.where h4 {
    font-size: 2rem;

}



/* end of the wedding part */


/* start of the rsvp */

.rsvp {
    height: 500px;
    width: 100%;
    background-color: #ffdddd;
    display: grid;
    place-items: center;
    text-align: center;
    line-height: 2;

}

.rsvp-content h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
}

.rsvp-content p {
    font-size: 2rem;
    text-transform: capitalize;
}

.rsvp-btn {
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    font-size: 2rem;
    background-color: #f44336;
    color: white;
}

/* end of the rsvp  */

/* start of the footer */

.footer {
    background-color: black;
    height: 150px;
    color: white;
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 50px;
}



/* end of the footer */